* {
    padding: 0;
    margin: 0;
    font-family: 'Protest Strike', sans-serif;
    color: white;
    font-weight: 900;
}

button {
    height: 95px;
    width: 90px;
    border-radius: 100%;
    font-size: 20px;
    background-color: #333333;
    text-decoration: none;
    border: 0px white solid;
    margin: 6px;
    font-size: 35px;
    cursor: pointer;
}

#tecla0 {
    width: 198.6px;
    border-radius:50%;
}

#leitor {
    border: 10px black solid;
    height: 100px;
    width: 403.3px;
}

#saida {
    display: flex;
    justify-content: end;
    font-size: 80px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#teclaOpD, #teclaOpS, #teclaOpV, #teclaOpM, #teclaOpI{
    background-color: #ff9f0a;
}
    
#teclaAc, #teclaNp, #teclaPor{
    background-color: #a5a5a5;
}
    
#principal {
    background-color: black;
    color: white;
    border: 10px black solid;
}

@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');